.jfx-decorator {
    -fx-decorator-color: rgb(50, 50, 50);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 1 1 1 1;
}

